<% layout("/layouts/boilerplate") %>
<body>
    <div class="row mt-3">
        <div class="col-6 offset-3">
            <h3 class="col-8 offset-3" style="color : #fe424d">SignUp on Wanderlust</h3>
            <form action="/signup" method="POST" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="username" class="form-label">Username : </label>
                <input type="text" name="listing[username]" placeholder="Enter Username" class="form-control" id="username" required />
                <div class="valid-feedback">
                    Looks Good!
                </div>
                <div class="invalid-feedback">
                        Username should be valid!
                </div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">E-Mail : </label>
                <input type="email" name="listing[email]" placeholder="Enter E-Mail" class="form-control" id="email" required />
                <div class="valid-feedback">
                    Perfect!
                </div>
                <div class="invalid-feedback">
                        E-Mail should be valid!
                </div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password : </label>
                <input type="password" name="listing[password]" placeholder="Enter Password" class="form-control" id="password" required />
                <div class="valid-feedback">
                    Looks Good!
                </div>
                <div class="invalid-feedback">
                        Password should be valid
                </div>
                </div>
                <button class="btn btn-dark signup-btn">SignUp</button>
            </form>
        </div>
    </div> 
</body>
